nav {
    background-image: url("../images/pokemon_stadium.png");
    background-size: contain;
}

#navbar_links_holder {
    background-color: transparent;
}

#footer {
    background-image: url("../images/pokemon_stadium.png");
    background-size: contain;
}
body {
    grid-template-columns: 200px 1fr 0px;
    row-gap: 10px;
    column-gap: 25px;
}

#melee-main {
    
    max-width: 1200;
    grid-area: main;
    background-image: url("../images/melee.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sidebar {
    animation: top-player-color-animation 1s linear infinite;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-left: 10px;
}

#top-players-title {
    margin-top: 150px;
}

#melee-history {
    
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2rem;
    line-height: 100%;
    
}

.melee-player {
    border-top: solid;
    width: 80%;
    font-size: 1rem;
    line-height: 75%;
}

.top-player-rank {
    margin-top: 10px;
}

.top-player-picture {
    border-style: solid;
    border-radius: 15px;
    max-width: 100%;
    margin-bottom: 10px;
}

#back_air {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    top: 125px;
    left: -10px;
}



@media only screen and (max-width: 450px) {
    #top-players-title {
        margin-top: 60px;
    }
    #back_air {
        width: 75px;
        top: 75px;
        left: 5px;
    }

    body {
        grid-template-columns: 101px 1fr 0px;
        column-gap: 10px;
    }

    #sidebar {
        max-width: 75px;
    }

    .section-title2 {
        font-size: 1rem;
    }

    .melee-player {
        font-size: 0.8rem;
    }

    #melee-main {
        width: calc(100% - 10px);
    }
}