
html {
    height: 100%;
    max-width: 100%;
    overflow-y:scroll;
}

body {
    row-gap: 10px;
}

#pokedex_main {
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#general_pokedex_info {
    grid-area: main;
    width: 100%;
    font-family: 'Pokemon Solid', sans-serif;
    line-height: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fd43e6;
    border-style: ridge;
    border-color: #e4000f;
    box-shadow: 2px 1px 1px 1px #e4000f;
    border-radius: 20px;
    background-color: #FFCB05;
    text-align: center;
    border-spacing: 10px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#pokedex_number_list_title {
    font-size: larger;
    font-weight: bold;
}

#pokedex_number_list {
    grid-area: sidebar;
    max-width: 150px;
    width: 150px;
    color: #fd43e6;
    border-style: ridge;
    border-color: #e4000f;
    box-shadow: 2px 1px 1px 1px #e4000f;
    margin: 0px 0px 0px 10px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    background-color: #FFCB05;
    text-align: center;
    border-spacing: 10px 0px;
    line-height: 100%;
}

#general_pokedex_info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#general_pokedex_info_table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#pokedex_table_picture {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: calc(100%-20px);
    height: auto;
    border-style: ridge;
    border-radius: 10%;
    border-color: #e4000f;
    box-shadow: 2px 1px 1px 1px #fd43e6;
}

.table_row {
    text-align: left;
    border-style: ridge;
    border-radius: 10%;
    border-color: #e4000f;
    box-shadow: 2px 1px 1px 1px #fd43e6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
}

#pokedex_navbar_image {
    width: 70px;
    height: 100%;
    background-image: url("../images/pokedex.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 115%;
    background-position: bottom -2px right -5px;
}
@media only screen and (max-width: 450px) {
    body {
        grid-template-columns: 101px 1fr 0px;
        column-gap: 10px;
    }
    #pokedex_number_list {
        max-width: 75px;
        font-size: 0.8rem;
    }
    #pokedex_table_picture {
        width: 90%;
    }

    #general_pokedex_info {
        width: 100%;
    }


}